# vim files
*.swp
*.swo

# MacOS files
*.DS_Store

# Compiled Python files
*.pyc

# Latex Compilation Files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.xml

# Document Files
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt

# Image Files
*.png
*.jpg
*.jpeg
*.tiff
*.bmp
